<%
  if item.givers.present?
    btn_style = 'btn-success'
  else
    btn_style = 'btn-outline-info'
  end
%>

<%= link_to '#', data: { 'xmodal-target': "item-givers-#{item.id}" }, class: 'btn btn-sm ' + btn_style do %>
  <%= fa_icon 'gift' %>
  <span class="hidden-xs-down">gifting actions</span>
<% end %>

<%= xmodal("item-givers-#{item.id}") do %>

  <h2>"<%= item.title %>"</h2>

  <hr>
  
  <div>
    <% if item.givers.present? %>
      <h4>Purchased by:
        <small>
          <%= item.givers.map(&:username).join(', ') %>
        </small>
      </h4>

    <% else %>
      Not gifted yet
    <% end %>
  </div>

  <hr>

  <h4>Actions:</h4>

  <% if item.givers.include?(current_user) %>
    <form action="<%= mark_item_not_purchased_path(event_params.merge(item_id: item.id)) %>" method="post">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <input type="hidden" name="username" value="<%= recipient.username %>">
      <input type="hidden" name="item_id" value="<%= item.id %>">
      <button type="submit" class="btn btn-outline-danger btn-sm">I did not purchase this gift</button>
    </form>
    <form action="<%= mark_item_purchased_path(event_params.merge(item_id: item.id)) %>" method="post">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <button type="submit" class="btn btn-outline-info btn-sm">add another recipient to gift</button>
      <select name="username" required="required">
        <% current_user.other_users_in_event.reject{|u| u.username == recipient.username}.each do |u| %>
          <option value="<%= u.username %>"><%= u.username %></option>
        <% end %>
      </select>
      <input type="hidden" name="item_id" value="<%= item.id %>">
    </form>
  <% else %>
    <form action="<%= mark_item_purchased_path(event_params.merge(item_id: item.id)) %>" method="post">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <input type="hidden" name="username" value="<%= recipient.username %>">
      <input type="hidden" name="item_id" value="<%= item.id %>">
      <button type="submit" class="btn btn-outline-primary btn-sm">I purchased this gift</button>
    </form>
  <% end %>
<% end %>