<table class="table table-responsive">
  <thead>
    <tr>
      <th>status</th>
      <th>image</th>
      <th>item</th>
      <th>price</th>
      <th class="hidden-xs-down">notes</th>
    </tr>
  </thead>
  <tbody>
    <% recipient.items_in_wishlist.each do |item| %>
      <tr style="border-top: 2px solid gray;">
        <td>
          <%= render partial: 'fulfillment_buttons', locals: { item: item } %>
        </td>
        <td>
          <% if item.image_url.include?('http') %>
            <img class="img-responsive" src="<%= item.image_url %>" alt="bad image url" height="64" width="64">
          <% end %>
        </td>
        <td>
          <%= link_to(item.title, item.listing_url) %>
        </td>
        <td>
          <%= item.price %>
        </td>
        <td class="hidden-xs-down">
          <q><%= item.notes || '-' %></q>
        </td>
      </tr>
      <% if item.notes.present? %>
        <tr class="hidden-md-up">
          <td colspan="4" style="border-top: none; text-align: right;">
            <q><%= item.notes %></q>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
