<% content_for(:title) { "#{recipient.username}'s list'" } %>
<% content_for(:nav_links) do %>
  <li>
    <ul>
      <li style="display: inline-block;"><%= link_to('your wishlist', wishlist_path(event_params), class: 'btn btn-outline-secondary btn-sm') %></li>
      <% current_user.other_users_in_event.each do |user| %>
        <li style="display: inline-block;">
          <%= link_to(user.username, 
                      lists_path(event_params.merge(username: user.username)),
                      class: "btn btn-outline-#{(recipient == user) ? 'primary' : 'secondary'} btn-sm"
                      ) %>
        </li>
      <% end %>
      <li class="float-right"><%= link_to('logout', logout_path(event_params)) %></li>
    </ul>
  </li>
<% end %>

<br>
<h1><%= recipient.username %>'s wish list</h1>
<% if current_user.managed_users.include?(recipient) %>
  <div class="alert alert-info">
    You are able to manage <%= recipient.username %>'s account
    <%= link_to 'add a wishlist item on behalf of ' + recipient.username, '#',
                data: { 'xmodal-target': :wishlist_form },
                class: 'btn btn-outline-primary',
                style: 'white-space: normal;' %>
  </div> 
  <%= xmodal(:wishlist_form) do %>
    <%= render partial: 'wishlist_form', locals: { wishlist_user: recipient } %>
  <% end %>
<% end %>
<br>

<% if recipient.items_in_wishlist.present? %>
  <%= render partial: 'recipient_wishlist_table' %>
<% else %>
  <div class="alert alert-warning"><%= recipient.username %> hasn't added anything to their wishlist</div>
<% end %>

<br>
<hr>

<br>
<h3>other items purchased for <%= recipient.username %></h3>
<i>(<%= recipient.username %> cannot see this list)</i>
<br>
<br>

<% if current_user.managed_users.include?(recipient) %>
  <i>because you are their manager -- you may not view this list</i>
<% else %>
  <div class="alert alert-info">
    <h4>purchased something for <%= recipient.username %>?</h4>
    <p>add it to this list so everyone else know's not to buy one</p>
    <%= link_to "add an item!", '#', data: { 'xmodal-target': :add_purchased_item_form }, class: 'btn btn-outline-primary' %>
  </div>
  <% if (recipient.items_received - recipient.items_in_wishlist).present? %>
    <%= render partial: 'recipient_purchased_list_table' %>
  <% else %>
    <div class="alert alert-warning">no items on this list yet</div>
  <% end %>

  <br>
  <br>
  <%= xmodal(:add_purchased_item_form) do %>
    <%= render partial: 'add_purchased_item_form' %>
  <% end %>
<% end %>

