<% content_for(:title) { 'my list' } %>
<% content_for(:nav_links) do %>
  <li>
    <ul>
      <li style="display: inline-block;"><%= link_to('your wishlist', wishlist_path(event_params), class: 'btn btn-outline-primary btn-sm') %></li>
      <% current_user.other_users_in_event.each do |user| %>
        <li style="display: inline-block;"><%= link_to(user.username, lists_path(event_params.merge(username: user.username)), class: 'btn btn-outline-secondary btn-sm') %></li>
      <% end %>
      <li class="float-right"><%= link_to('logout', logout_path(event_params)) %></li>
    </ul>
  </li>
<% end %>

<br>
<h1><%= current_user.username %></h1>
<div class="alert alert-info">
  <h4>your wish list</h4>
  <p>add items to your wishlist so we know what you want</p>
  <%= link_to 'add an item!', '#', data: { 'xmodal-target': :wishlist_form }, class: 'btn btn-outline-primary' %>
</div>
<%= xmodal(:wishlist_form) do %>
  <%= render partial: 'wishlist_form' %>
<% end %>
<br>

<% if current_user.items_in_wishlist.present? %>
  <%= render partial: 'wishlist_table' %>
<% else %>
  You have no items in your wishlist!
<% end %>
