<div
  class="xmodal <%= 'hidden-xs-up' unless start_visible %> xmodal-<%= modal_name %>"
  data-xmodal-name="<%= modal_name %>"
  >
  <div class="xmodal-container">
    <a href="#" class="xmodal-x">x</a>
    <% if title.present? %>
      <div class="xmodal-title">
        <%= title.html_safe %>
      </div>
    <% end %>
    <div class="xmodal-content">
      <%= yield %>
    </div>
  </div>
</div>
<script>
  /* Move `<%= modal_name %>`` xModal -> xModals Container */
  (function () {
    'use strict';
    var $thisScript = $('script').last();
    var $xmodal = $thisScript.prev();
    var $xmodalsContainer = $('#xmodals-container')
    $xmodal.detach().appendTo($xmodalsContainer);
  })();
</script>
